<div class="posts_index_view">
<h1>All posts of the user</h1>
<div class="link-new-post">
  <%= link_to "New Post", new_user_post_path, class: "btn" %>
</div>
  
  <% @posts.includes(:comments, :likes).each do |post| %>
    <%= link_to "./posts/#{post.id}" do %>
    <div class="post-content">
      <h3> Post : <%= post.title%></h3>
      <p><%= post.text%></p>
      <div class="post-count">
        <span>Comments: <%= post.commentsCounter%><span>
        <span>Likes: <%= post.likesCounter%><span>
      </div>
    </div>
    <% end %>
    <% if post.comments.size > 0 %>
        <ul class="comments-container">
          <% post.five_most_recent_comments.each do |comment| %>
            <li>
              <span><em><b><%= comment.user.name %>: </b></em></span>
              <span><%= comment.text %></span>
            </li>
          <% end %>
        </ul>
    <% end %>
  <% end %>
  <div class="all-posts">
    <%= link_to "Pagination", user_posts_path %>
  </div>
</div>